{# ./templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

 {% block title %} Fund Together! | Starton Hackathon Web 3 {% endblock %}

 {% block body %}
     <div id="root"></div>
 {% endblock %}